.container {
    background: transparent;
    outline: none;
    cursor: pointer;
    border: none;
    color: inherit;
}

.lang {
    font-size: 15px;

    & :hover {
        border-bottom: 1px solid black;
    }

    @extend .container;
}

.socialMedia {
    @extend .container;
}

.close {
    @extend .container;
    padding: 0;
}

.navigation {
    @extend .container;
}
