.footer {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main {
    display: grid;
    gap: 10px;
}

.logo {
    display: flex;
    justify-content: center;
}

.contacts {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 12px;
    cursor: pointer;
    position: relative;
}

.email {
    margin-right: 10px;
}

.copy_success {
    position: absolute;
    right: -25%;
    opacity: 70%;
}

.hide {
    display: none;
}
