.container {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    //border-top: 1px solid rgba(128, 128, 128, 0.25);

    //@media (min-width: 480px) {
    //    max-width: 1024px;
    //}
}
