.container {
    //background: #0b64a8;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
}

.logo {
    cursor: pointer;
}

.name {
    font-size: 36px;
    margin-bottom: 8px;
}

.prof {
    font-size: 20px;
}

.menu {
    display: flex;
    align-items: center;
    list-style-type: none;
}

.menu__main {
    gap: 20px;

    @extend .menu;
}

.menu__lang {
    gap: 5px;

    @extend .menu;
}
