.container {
    //background: #0b64a8;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    cursor: pointer;
}

.name {
    margin-bottom: 0;
}

.prof {
    margin-top: 5px;
}

.menu {
    display: flex;
    align-items: center;
    gap: 20px;
    list-style-type: none;
}

.menu_item {
}
