.container {
    padding: 15px 0;
    display: grid;
    grid-template-areas: 'logo' 'menu' 'social-links' 'lang';
    align-items: center;
    grid-gap: 15px;

    @media (min-width: 1024px) {
        max-width: 1280px;
        padding: 30px 0;
        grid-template-areas: 'logo' 'menu' 'social-links' 'lang';
        grid-template-columns: 1fr 1fr 1fr 50px;
        grid-gap: 0;
    }
}

.logo {
    cursor: pointer;

    @media (max-width: 480px) {
        max-width: 768px;
        padding-bottom: 20px;
        border-bottom: 1px solid rgba(128, 128, 128, 0.25);
    }
}

.name {
    font-size: 36px;
    margin-bottom: 8px;
    display: flex;
    justify-content: center;
    align-items: center;

    @media (min-width: 1024px) {
        max-width: 1280px;
        justify-content: flex-start;
    }
}

.prof {
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;

    @media (min-width: 1024px) {
        max-width: 1280px;
        justify-content: flex-start;
    }
}

.menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style-type: none;

    @media (min-width: 768px) {
        max-width: 1280px;
        flex-direction: row;
    }
}

.menu__socialMedia {
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu__langChange {
    @extend .menu__socialMedia;
}

.menu__main {
    gap: 20px;
    padding: 0;
    justify-content: center;

    @extend .menu;
}

.menu__lang {
    gap: 5px;

    @extend .menu;
}
