$width: 1280px;

.container {
    display: grid;
    gap: 50px;
}

.header {
    position: fixed;
    top: 0;
    z-index: 10;
}

.homePagePhotoWrapper {
}

.homePagePhoto {
    width: 100%;
}

.performances {
    padding: 10px;
    display: grid;
    grid-gap: 50px;
}

.performances__title {
    display: flex;
    justify-content: center;
    font-size: 30px;
}
