.container {
    border-radius: 5px;
    overflow: hidden;
    background-color: lightgray;
    cursor: pointer;
    width: 120%;
    height: 200px;

    @media (min-width: 768px) {
        width: 200px;
    }

    img {
        width: 100%;
    }
}
