$small: 480px;
$medium: 768px;
$big: 1024px;
$large: 1280px;

.photos {
    display: grid;
    margin: 0 auto;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    gap: 10px;

    @media (min-width: $medium) {
        max-width: $big;
        grid-template-columns: repeat(4, 1fr);
    }

    @media (min-width: $big) {
        max-width: $large;
        grid-template-columns: repeat(6, 1fr);
    }
}

.main {
    width: 100%;
    max-height: 90vh;
}

.button_right {
    position: fixed;
    right: 10%;
    top: 45%;
}

.button_left {
    position: fixed;
    left: 10%;
    top: 45%;
}

.slider {
    position: relative;
}
